Repository blueedgetechno/win11React, pull requests merged in 2021-09, with the labels that each got.

#102 Update docker
  .dockerignore
  Dockerfile
  README.md
Labels: Docker

#128 Solved - issue in edge browser when clicking on google icon
  src/containers/applications/apps/edge.js
Labels: small-fix

#124 added Battery live status
  package-lock.json
  public/index.html
  src/components/taskbar/Battery.js
  src/components/taskbar/index.js
  src/components/taskbar/taskbar.scss
Labels: new-feature

#131 Calendar pane of start menu now comes from right
  src/components/start/searchpane.scss
Labels: Build Changes
