Repository blueedgetechno/win11React, pull requests merged in 2021-11, with the labels that each got.

#192 dark-mode : Action Center & Calendar :)
  public/dycalendar.css
  src/components/start/searchpane.scss
  src/components/start/sidepane.scss
  src/components/taskbar/index.js
  src/components/taskbar/taskbar.scss
  src/containers/applications/wnapp.scss
  src/index.css
Labels: enhancement

#194 dark-mode : right click Context Menu : )
  public/img/icon/home.png
  public/img/icon/search.png
  public/img/icon/widget.png
  src/components/menu/menu.scss
  src/components/taskbar/taskbar.scss
Labels: DO-NOT-MERGE

#198 dark-mode : finale :)
  src/components/start/sidepane.scss
  src/containers/applications/apps/about.js
  src/containers/applications/tabs2.scss
Labels: DO-NOT-MERGE

#206 Dark Mode and much more ...
  package-lock.json
  public/dycalendar.css
  public/font/spotify.ttf
  public/font/spotify.woff2
  public/img/icon/home.png
  public/img/icon/search.png
  public/img/icon/store.png
  public/img/icon/ui/display.png
  public/img/icon/ui/marker1.png
  public/img/icon/ui/new.png
  public/img/icon/ui/personalize.png
  public/img/icon/ui/sort.png
  public/img/icon/ui/sun.png
  public/img/icon/ui/view.png
  public/img/icon/widget.png
  public/index.html
  src/App.js
  src/actions/index.js
  src/components/menu/index.js
  src/components/menu/menu.scss
  src/components/start/index.js
  src/components/start/searchpane.scss
  src/components/start/sidepane.scss
  src/components/start/start.js
  src/components/start/startmenu.scss
  src/components/start/widget.js
  src/components/taskbar/index.js
  src/components/taskbar/taskbar.scss
  src/containers/applications/apps/about.js
  src/containers/applications/apps/assets/spotify.ttf
  src/containers/applications/apps/assets/spotify.woff2
  src/containers/applications/apps/assets/store.scss
  src/containers/applications/apps/calculator.js
  src/containers/applications/apps/edge.js
  src/containers/applications/apps/explorer.js
  src/containers/applications/apps/notepad.js
  src/containers/applications/apps/store.js
  src/containers/applications/apps/terminal.js
  src/containers/applications/apps/whiteboard.js
  src/containers/applications/index.js
  src/containers/applications/tabs.scss
  src/containers/applications/tabs2.scss
  src/containers/applications/wnapp.css
  src/containers/applications/wnapp.scss
  src/containers/background/back.scss
  src/containers/background/index.js
  src/index.css
  src/reducers/index.js
  src/reducers/menu.js
  src/reducers/settings.js
  src/reducers/sidepane.js
  src/reducers/wallpaper.js
  src/utils/general.js
  src/utils/general.scss
  src/utils/icons.js
  src/utils/index.js
Labels: enhancement

#218 Few minor fixes : )
  src/components/start/startmenu.scss
  src/components/taskbar/taskbar.scss
  src/containers/applications/tabs.scss
  src/utils/general.scss
Labels: Bug-Fix
