Repository blueedgetechno/win11React, pull requests merged in 2022-01, with the labels that each got.

#238 moving VS-Code to the Store : )
  src/components/start/searchpane.scss
  src/components/start/sidepane.scss
  src/containers/applications/apps/assets/settingsData.json
  src/containers/applications/apps/vscode.js
  src/containers/applications/index.js
  src/containers/applications/wnapp.scss
  src/utils/apps.js
Labels: not-stale

#262 updated scrollBars to look like win11 :)
  src/components/start/start.js
  src/components/start/startmenu.scss
  src/components/start/widget.js
  src/containers/applications/apps/assets/spotify.scss
  src/containers/applications/apps/calculator.js
  src/containers/applications/apps/explorer.js
  src/containers/applications/apps/notepad.js
  src/containers/applications/apps/spotify.js
  src/containers/applications/apps/store.js
  src/containers/applications/apps/terminal.js
  src/containers/applications/wnapp.scss
  src/index.css
  src/utils/general.scss
Labels: Build Changes

#277 Add eval command
  src/containers/applications/apps/terminal.js
Labels: in progress
