Repository blueedgetechno/win11React, pull requests merged in 2022-02, with the labels that each got.

#293 Few fixes
  package-lock.json
  public/img/asset/bootlogo.png
  public/img/asset/logo.png
  src/components/Battery.js
  src/components/start/index.js
  src/components/taskbar/Battery.js
  src/components/taskbar/index.js
Labels: NPM, small-fix, Bug-Fix

#297 Update
  src/components/start/index.js
  src/components/start/searchpane.scss
  src/components/start/sidepane.scss
  src/components/start/start.js
  src/components/start/widget.js
  src/components/start/widget.scss
Labels: enhancement, small-fix

#308 Settings App :)
  package-lock.json
  package.json
  public/img/icon/settings/Accessibility.webp
  public/img/icon/settings/Accounts.webp
  public/img/icon/settings/Apps.webp
  public/img/icon/settings/Bluetooth & devices.webp
  public/img/icon/settings/Gaming.webp
  public/img/icon/settings/Network & internet.webp
  public/img/icon/settings/Personalisation.webp
  public/img/icon/settings/Privacy & security.webp
  public/img/icon/settings/System.webp
  public/img/icon/settings/Time & language.webp
  public/img/icon/settings/Windows Update.webp
  public/img/icon/settings/defAccount.webp
  src/containers/applications/apps/assets/SettingsIcons.woff2
  src/containers/applications/apps/assets/settings.scss
  src/containers/applications/apps/assets/settingsData.json
  src/containers/applications/apps/settings.js
  src/containers/applications/wnapp.scss
Labels: enhancement, Mega-Pull-Request, DO-NOT-MERGE, new-feature, in progress

#315 Define error function [WIP]
  package-lock.json
  package.json
  src/App.js
Labels: enhancement

#317 Enable signing
  .github/workflows/desktop.yml
  .github/workflows/windows.yml
  src-tauri/tauri.conf.json
Labels: enhancement, Bug-Fix, desktop-builds

#316 Add Settings app
  package-lock.json
  package.json
  public/img/settings/Accessibility.webp
  public/img/settings/Accounts.webp
  public/img/settings/Apps.webp
  public/img/settings/Bluetooth & devices.webp
  public/img/settings/Gaming.webp
  public/img/settings/Network & internet.webp
  public/img/settings/Personalisation.webp
  public/img/settings/Privacy & security.webp
  public/img/settings/System.webp
  public/img/settings/Time & language.webp
  public/img/settings/Windows Update.webp
  public/img/settings/defAccount.webp
  src/containers/applications/apps/assets/SettingsIcons.woff2
  src/containers/applications/apps/assets/settings.scss
  src/containers/applications/apps/assets/settingsData.json
  src/containers/applications/apps/settings.js
  src/containers/applications/wnapp.scss
Labels: enhancement, Mega-Pull-Request, new-feature

#319 More features in settings (WIP)
  public/img/settings/update.png
  public/img/settings/wifi.png
  public/img/wallpaper/dark/img0.jpg
  src/containers/applications/apps/assets/settings.scss
  src/containers/applications/apps/assets/settingsData.json
  src/containers/applications/apps/settings.js
  src/containers/background/index.js
  src/reducers/wallpaper.js
Labels: enhancement, help wanted, new-feature, in progress
