Repository blueedgetechno/win11React, pull requests merged in 2022-05, with the labels that each got.

#467 Implement DeskBand functionally.
  public/img/icon/defender.png
  src/App.js
  src/App.js.bak
  src/components/start/index.js
  src/components/start/sidepane.scss
  src/components/taskbar/index.js
  src/components/taskbar/taskbar.scss
  src/reducers/sidepane.js
Labels: enhancement, CI-PASSED

#469 OOBE
  public/img/oobe/window11_oobe_accessibility.png
  public/img/oobe/window11_oobe_games.png
  public/img/oobe/window11_oobe_games_services.png
  public/img/oobe/window11_oobe_keyb_layout.png
  public/img/oobe/window11_oobe_name.png
  public/img/oobe/window11_oobe_privacy.png
  public/img/oobe/window11_oobe_privacy2.png
  public/img/oobe/window11_oobe_region.png
  public/img/oobe/window11_oobe_sync.png
  public/img/oobe/window11_oobe_update.png
  public/img/oobe/window11_oobe_user.png
  public/img/oobe/window11_oobe_wifi.png
  src/containers/applications/apps/assets/countrylist.json
  src/containers/applications/apps/assets/getstarted.scss
  src/containers/applications/apps/getstarted.js
  src/reducers/apps.js
Labels: DO-NOT-MERGE

#472 START TRANSLATION OF OOBE
  public/locales/en/translate.json
  src/containers/applications/apps/getstarted.js
Labels: DO-NOT-MERGE

#474 darkmode OOBE
  src/containers/applications/apps/assets/getstarted.scss
  src/containers/applications/apps/getstarted.js
  src/containers/applications/wnapp.scss
Labels: enhancement, new-feature, in progress

#483 Speed up Builds
  .github/workflows/package-lock.yml
  craco.config.js
  package-lock.json
  package.json
Labels: enhancement, Mega-Pull-Request, NPM, new-feature, andrew-pr, github_actions, CI-PASSED
