Repository blueedgetechno/win11React, pull requests merged in 2022-03, with the labels that each got.

#337 correct the reaction of click
  src/components/taskbar/index.js
  src/reducers/apps.js
  src/utils/general.js
Labels: Bug-Fix

#346 Fix discord links
  README.md
  src/containers/applications/apps/discord.js
Labels: small-fix

#360 Adds Multilanguage Support
  README.md
  package-lock.json
  package.json
  public/locales/en.json
  src/App.js
  src/containers/applications/apps/about.js
  src/i18nextConf.js
  yarn.lock
Labels: documentation, enhancement, Mega-Pull-Request, new-feature, in progress

#367 MULTILANG ABOUT APP
  public/locales/en/translate.json
  src/containers/applications/apps/about.js
Labels: enhancement, TRANSLATION

#368 Start store translations
  public/locales/en/translate.json
  src/containers/applications/apps/store.js
Labels: TRANSLATION
